.AddTasks{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 200px;
    margin: 0;
}
.AddTasks form{
    display: flex;
    flex-direction: column;
}
.AddTasks input{
    width: 200px;
    height: 20px;
    margin: 2px;
}
.AddTasks button{
    background-color: chartreuse;
    margin: auto;
    margin-top: 4px;
    padding: 0px 10px;
}
#AsinIcon{
    font-size: 35px;
}

